<section class="about-page">
  <div class="about-hero">
    <p class="about-eyebrow">
      {{ 'ABOUT.EYEBROW' | translate }}
    </p>

    <h1 class="about-title">
      {{ 'ABOUT.TITLE' | translate }}
    </h1>

    <p class="about-intro">
      {{ 'ABOUT.INTRO' | translate }}
    </p>
  </div>

  <div class="about-cards">


    <article class="about-card has-image">
      <div class="card-text">
        <p class="card-number">
          {{ 'ABOUT.CARD1_NUMBER' | translate }}
        </p>

        <h2>
          {{ 'ABOUT.CARD1_TITLE' | translate }}
        </h2>

        <p>
          {{ 'ABOUT.CARD1_TEXT1' | translate }}
        </p>

        <p>
          {{ 'ABOUT.CARD1_TEXT2' | translate }}
        </p>
      </div>

      <div class="card-image">
        <img
          src="/images/mi-foto.jpg"
          alt="Foto personal"
        />
      </div>
    </article>


    <article class="about-card">
      <div class="card-text">
        <p class="card-number">
          {{ 'ABOUT.CARD2_NUMBER' | translate }}
        </p>

        <h2>
          {{ 'ABOUT.CARD2_TITLE' | translate }}
        </h2>

        <p>
          {{ 'ABOUT.CARD2_TEXT1' | translate }}
        </p>

        <p>
          {{ 'ABOUT.CARD2_TEXT2' | translate }}
        </p>
      </div>
    </article>


    <article class="about-card">
      <div class="card-text">
        <p class="card-number">
          {{ 'ABOUT.CARD3_NUMBER' | translate }}
        </p>

        <h2>
          {{ 'ABOUT.CARD3_TITLE' | translate }}
        </h2>

        <p>
          {{ 'ABOUT.CARD3_TEXT1' | translate }}
        </p>

        <p>
          {{ 'ABOUT.CARD3_TEXT2' | translate }}
        </p>
      </div>
    </article>

  </div>
</section>