<section class="hero">

  <div class="hero-content">

    <h1 class="hero-title">
      Abel Constantino
    </h1>

    <h2 class="hero-subtitle">
      Frontend Developer · Angular
    </h2>

    <p class="hero-description">
      Portfolio personal donde muestro mis aficiones y en un futuro, proyectos, usando tecnologías modernas como Angular y GSAP.
    </p>

    <div class="hero-actions">
      <app-button
        label="Iniciar sesión"
        link="/login"
        variant="raised">
      </app-button>

      <app-button
        label="Explorar portfolio"
        link="/about"
        variant="stroked">
      </app-button>
    </div>

  </div>

</section>
