<section class="login-page">
  <div class="login-card">
    <p class="login-eyebrow">
      {{ 'LOGIN.EYEBROW' | translate }}
    </p>

    <h1>{{ 'LOGIN.TITLE' | translate }}</h1>

    <p class="login-description">
      {{ 'LOGIN.DESCRIPTION' | translate }}
    </p>

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="field">
        <label for="email">
          {{ 'LOGIN.EMAIL' | translate }}
        </label>

        <input
          id="email"
          type="email"
          formControlName="email"
          [placeholder]="'LOGIN.EMAIL_PLACEHOLDER' | translate"
        />

        @if (f.email?.touched && f.email?.invalid) {
          <small class="error">
            {{ 'CONTACT.ERROR_EMAIL' | translate }}
          </small>
        }
      </div>

      <div class="field">
        <label for="password">
          {{ 'LOGIN.PASSWORD' | translate }}
        </label>

        <input
          id="password"
          type="password"
          formControlName="password"
          [placeholder]="'LOGIN.PASSWORD_PLACEHOLDER' | translate"
        />

        @if (f.password?.touched && f.password?.invalid) {
          <small class="error">
            {{ 'LOGIN.PASSWORD' | translate }} *
          </small>
        }
      </div>

      <button type="submit" [disabled]="loginForm.invalid">
        {{ 'LOGIN.SUBMIT' | translate }}
      </button>
    </form>

    @if (error) {
      <p class="error global-error">
        {{ error | translate }}
      </p>
    }
  </div>
</section>
